In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
x=pd.read_csv('Training Data/Diabetes_XTrain.csv')

In [3]:
y=pd.read_csv('Training Data/Diabetes_YTrain.csv')

In [4]:
def dist(x1,x2):
	return np.sqrt(sum((x1-x2)**2))
def knn(X,Y, queryPoint, k=5) :
	vals = []
	m= X. shape[0]
	for i in range(m) :
		d = dist(queryPoint,X[i])
		vals.append((d,Y[i]))
	vals= sorted (vals)
	# Nearest/First K points
	vals = vals[:k]
	vals= np. array(vals)
	#print(vals)
	new_vals= np.unique(vals[:,1] , return_counts=True)
	#print(new vals)
	index = new_vals[1].argmax()
	pred = new_vals [0][index]
	return int(pred)

In [5]:
x_test=pd.read_csv('Test Cases/Diabetes_Xtest.csv')
y_test=pd.read_csv('Test Cases/sample_submission.csv')

In [6]:
x.shape

(576, 8)

In [7]:
x_test.shape

(192, 8)

In [8]:
x_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [9]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [10]:
x_train=x.values
y_train=y.values

In [11]:
x_te=x_test.values
y_te=y_test.values

In [12]:
x_train.shape

(576, 8)

In [13]:
x_te[0].shape

(8,)

In [14]:
y_train=y_train[:,0]
y_train.shape

(576,)

In [22]:
y_te

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [15]:
type(y_train)

numpy.ndarray

In [16]:
y_train.shape

(576,)

In [17]:
x_t=np.array([8,110,76,0,0,27.8,0.237,58])

In [18]:
# x_te.astype(int)

In [21]:
knn(x_train,y_train,x_te[4],k=5)

0

In [20]:
# for i in range(1):
#     print(y_te[i])

In [ ]:
x_te[5]

In [ ]:
y_t